.head-container {
  display: flex;
  justify-content: space-between;
  height: 54px;
  border-bottom: 1px solid white;
  background-color: black;
  align-items: stretch;
  color: white;
}

.start {
  border-right: 1px solid black;
}

.middle {
  background-color: gray;
  flex-basis: 500px;
}

.end {
  border-left: 1px solid black;
}
